<a href="https://colab.research.google.com/github/davidnene/Twitter-Data-Analysis/blob/main/Data_Mining_Project_Challenge__Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Project:** Data Minining Project for  X company

The CRISP-DM Framework


The CRISP-DM methodology provides a structured approach to planning a data mining project. It is a robust and well-proven methodology.
* Business understanding (BU): Determine Business Objectives, Assess Situation, Determine Data Mining Goals, Produce Project Plan

* Data understanding (DU): Collect Initial Data, Describe Data, Explore Data, Verify Data Quality

* Data preparation (DP): Select Data, Clean Data, Construct Data, Integrate Data

* Modeling (M): Select modeling technique, Generate Test Design, Build Model, Assess Model
*  Evaluation (E): Evaluate Results, Review Process, Determine Next Steps
*  Deployment (D): Plan Deployment, Plan Monitoring and Maintenance, Produce Final Report, Review Project


References:

[What is the CRISP-DM methodology?](https://www.sv-europe.com/crisp-dm-methodology/)

[Introduction to CRISP DM Framework for Data Science and Machine Learning](https://www.linkedin.com/pulse/chapter-1-introduction-crisp-dm-framework-data-science-anshul-roy/)

**Data Set**
### The data is for company X which is trying to control attrition. 
### There are two sets of data: "Existing employees" and "Employees who have left". The following attributes are available for every employee.


*   Satisfaction Level

*   Last evaluation

*   Number of projects

*   Average monthly hours

*   Time spent at the company
*   Whether they have had a work accident


*  Whether they have had a promotion in the last 5 years


*   Departments (column sales)


*   Salary


*  Whether the employee has left

**Your Role**
 

*   As data science team member X company asked you to answer this two questions.
*  What type of employees is leaving? 

*   Determine which employees are prone to leave next.

Business Understanding

---

This step mostly focuses on understanding the Business in all the different aspects. It follows the below different steps.




* Identify the goal and frame the business problem.
* Prepare Analytical Goal i.e. what type of performance metric and loss function to use
* Gather information on resource, constraints, assumptions, risks etc
* Gather information on resource, constraints, assumptions, risks etc
*   Prepare Work Flow Chart

### Write the main objectives of this project in your words?
minimum of 100 characters

In [12]:
main_objectives = '''1. To do data preparation and Exploratory Data Analysis so as 
                       to understand the data and determine what type of employee is leaving
                     2. To build a efficiently working ML model that can be used to make predictions
                       what type of employee is prone to leaving based on new incoming data
                  '''

In [13]:
assert len(main_objectives) > 100 
### BEGIN HIDDEN TESTS
assert len(main_objectives) > 80 
### END HIDDEN TESTS

### Outline the different data analysis steps you will follow to carry out the project

In [14]:
dm_outline = '''1. Univariate analysis to understand the important variables
                2. Multivariate analysis to understand relationships between variables in relation to the output.
                    eg.correlation
'''

In [15]:
assert len(dm_outline) > 100 
### BEGIN HIDDEN TESTS
assert len(dm_outline) > 70 
### END HIDDEN TESTS

### What metrics will you use to measure the performance of your data analysis model? 
Write the equations of the metrics here

**Confusion Matrix**

[[TP FP]
 
 [FN TN]]

 **Accuracy**

 $\frac{(TP+TN)}{total}$ 

 
 **Sensitivity**
 
 $\frac{TP}{actualyes}$

**F-Score**

$\frac{tp}{(tp + 1/2(fp+fn)}$


**Classification report**

e.g. Precision = $\frac{TP}{(TP + FP)}$

Why do you choose these metrics? minimum of 100 characters

In [16]:
why_metrics = ''' 1. The above metrics will measure the performance of the model on different dimensions
                  2. They will also be able to capture model bias ie overfitting or underfitting
                  3. Classification report will have attention to detail on whether the data is imbalanced
              '''

In [17]:
assert len(why_metrics) > 100 
### BEGIN HIDDEN TESTS
assert len(why_metrics) > 80 
### END HIDDEN TESTS

### How would you know if your data analysis work is a success or not?
minimum of 100 characters

In [18]:
how_success = '''Data analysis will be a success if I will be able to;
                           1. answer the question on type of employee that is leaving
                           2. Give insights eg on feature engineering for model preparation
              '''

In [19]:
assert len(how_success) > 100 
### BEGIN HIDDEN TESTS
assert len(how_success) > 80 
### END HIDDEN TESTS

## What kind of challenges do you expect in your analysis?
List at least 3 challenges

In [20]:
challenge_text = '''1. Performing data cleaning
                    2. Understanding data into details
                    3. Converting the business problem into a data science problem.
                       eg determing the important features for this particular project
                  '''

In [21]:
assert len(challenge_text) > 100 
### BEGIN HIDDEN TESTS
assert len(how_success) > 80 
### END HIDDEN TESTS

<h2>Using the processed twitter data from yesterday's challenge</h2>.


- Form a new data frame (named `cleanTweet`), containing columns $\textbf{clean-text}$ and $\textbf{polarity}$.

- Write a function `text_category` that takes a value `p` and returns, depending on the value of p, a string `'positive'`, `'negative'` or `'neutral'`.

- Apply this function (`text_category`) on the $\textbf{polarity}$ column of `cleanTweet` in 1 above to form a new column called $\textbf{score}$ in `cleanTweet`.

- Visualize The $\textbf{score}$ column using piechart and barchart

<h5>Now we want to build a classification model on the clean tweet following the steps below:</h5>

* Remove rows from `cleanTweet` where $\textbf{polarity}$ $= 0$ (i.e where $\textbf{score}$ = Neutral) and reset the frame index.
* Construct a column $\textbf{scoremap}$ Use the mapping {'positive':1, 'negative':0} on the $\textbf{score}$ column
* Create feature and target variables `(X,y)` from $\textbf{clean-text}$ and $\textbf{scoremap}$ columns respectively.
* Use `train_test_split` function to construct `(X_train, y_train)` and `(X_test, y_test)` from `(X,y)`

* Build an `SGDClassifier` model from the vectorize train text data. Use `CountVectorizer()` with a $\textit{trigram}$ parameter.

* Evaluate your model on the test data.

In [22]:
#importing prerequisite libraries

import pandas as pd
import numpy as np

In [23]:
#loading the data

employees_df = pd.read_csv('/content/cleaned_fintech_data.csv')
employees_df.head()

   Unnamed: 0  ...                  timestamp
0         0.0  ...  2021-06-17 06:26:34+00:00
1         1.0  ...  2021-06-17 06:26:37+00:00
2         2.0  ...  2021-06-17 06:26:42+00:00
3         3.0  ...  2021-06-17 06:26:44+00:00
4         4.0  ...  2021-06-17 06:26:47+00:00

[5 rows x 21 columns]

In [24]:
#cleanTweet dataframe
cleanTweet = employees_df[['clean_text','polarity']]

In [25]:
cleanTweet.sample(10)

                                             clean_text              polarity
4459  Aalekkana Krishnam Raju thammudi koduku BB var...                   0.0
3809  `` By Mazda assumes quarter products fully ele...                   0.1
2161  Somebody tell wants green Layer blockchain sup...  -0.09999999999999999
5249  Reminder great political interviewer questions...                   0.4
3889  With help bring innovative transformative clim...   0.16666666666666666
4910  What ever done Here jays wildlife plant new fr...    0.2681818181818182
2892  Rc Box -Office Wise Ok But Fan Base Lo Ite Tie...    0.1333333333333333
749   case missed petition hs2 trashing countryside ...                  -0.1
4182  st blockbuster release avakundane movie chedha...                   0.2
5235  Miru long run Lo AA/RC records pattukostaro da...                 -0.05

In [27]:
#checking on data info
cleanTweet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5621 entries, 0 to 5620
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   clean_text  5617 non-null   object
 1   polarity    5621 non-null   object
dtypes: object(2)
memory usage: 88.0+ KB

In [28]:
#investigating polarity column
cleanTweet['polarity'].value_counts()

0.0                    2134
0.5                     340
-0.1                    252
0.13636363636363635     200
0.15416666666666667     144
                       ...
0.23484848484848483       2
0.18409090909090908       2
0.45                      2
0.5681818181818181        2
polarity                  1
Name: polarity, Length: 246, dtype: int64

we observe there is a string called polarity.

we shall convert it to null then drop

In [29]:
#replace string polarity with null
cleanTweet['polarity'].replace({'polarity':np.nan}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [30]:
#confirming the null value
cleanTweet['polarity'].isnull().sum()

1

In [31]:
#drop null
cleanTweet = cleanTweet.dropna()

In [32]:
#confirming the null value
cleanTweet['polarity'].isnull().sum()

0

In [33]:
#converting to float
cleanTweet['polarity'] = cleanTweet['polarity'].astype(float)

In [51]:
#creating score column
cleanTweet['score'] = cleanTweet['polarity']

In [52]:
#locating values
negative = cleanTweet[cleanTweet['score'] < 0].index
neutral = cleanTweet[cleanTweet['score'] == 0].index
positive = cleanTweet[cleanTweet['score'] > 0].index

In [53]:
#coding the values
cleanTweet.loc[negative, 'score'] = 'negative'
cleanTweet.loc[neutral, 'score'] = 'neutral'
cleanTweet.loc[positive, 'score'] = 'positive'

In [54]:
cleanTweet['score'].value_counts()

positive    2648
neutral     2130
negative     838
Name: score, dtype: int64